{erl_opts, [
	debug_info,
	{parse_transform, lager_transform},
	{i, "include"},
	{i, "./_build/default/plugins/gpb/include"}
	]}.

{deps, [
	{lager, "3.6.8", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.8"}}},
    {ranch, "1.7.1", {git, "https://github.com/ninenines/ranch", {tag, "1.7.1"}}},
	{erlcloud, "3.2.3", {git, "https://github.com/erlcloud/erlcloud.git", {tag, "3.2.3"}}}
]}.

{plugins, [
  {rebar3_gpb_plugin, "1.10.0"}
]}.

{shell, [
	%{config, "config/sys.config"},
    {apps, [dynamodbtask]}
]}.

{gpb_opts, [
  {i, "proto"},
  {module_name_suffix, "_pb"},
  {o_erl, "src"}, 
  {o_hrl, "include"},
  {strings_as_binaries, true},
  type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{relx, [
    {release, {dynamodbtask, "0.1.0"}, [dynamodbtask, sasl]},
    %{sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
